@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}


/* SignUp.css */

/* Styles for select element */
/* SignUp.css */

/* Styles for select element */
.login-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    appearance: none; /* Remove default arrow icon */
    background-image: linear-gradient(45deg, transparent 50%, #000 50%),
                      linear-gradient(135deg, #000 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    transition: border-color 0.3s ease; /* Add transition effect */
}

/* Hover effect for select element */
.login-form select:hover {
    border-color: #aaa;
}

/* Focus effect for select element */
.login-form select:focus {
    border-color: #555;
    outline: none;
}

/* Styles for options within select element */
.login-form select option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease; /* Add transition effect */
}

/* Hover effect for options within select element */
.login-form select option:hover {
    background-color: #f0f0f0;
}

/* Selected option styles */
.login-form select option:checked {
    background-color: #e0e0e0;
}
